* {
  margin: 0;
  padding: 0;
}

body {
  width: 2000px;
  height: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: burlywood;
}

p {
  font-size: 1.3em;
  color: cornflowerblue;
}
